<!DOCTYPE html>
<html>
	
	<head>
		 <meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title> Elenco Cuochi</title>
		<link rel="stylesheet" href="/css/cooks.css?v=3.7" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
		
	</head>
	
	<body>
		
		<section class="header">
		
			<a href="/"><img src="images/logo.png"></a>
			<form th:action="@{/formSearchCooks}" method="post">
				<div class="search">
					<span class="material-symbols-outlined">search</span>
					<input class="search-input" type="search" id="surname" th:value="${surname}" name="surname" placeholder="cerca Cuoco..."/>
					<a href="/cook">
					<span class="material-symbols-outlined">
						arrow_back</span>
					</a>
				</div>
			</form>
		</section>
		
		<section class="cooks">
			<h1> Cuochi</h1>
				<div class="container">
						 <div class="noCook" th:if="${cooks.isEmpty()}">
						<span class="material-symbols-outlined">Error</span>
						<p>Spiacenti nessuna Cuoco trovato</p> 
				</div>
				
				<ul class="cookContainer">
					<li class="boxCook" th:each="cook : ${cooks}">
						<img class="imgError" th:src="@{/images/__${cook.urlImage}__}">
						<a th:href="@{'/cook' + '/' + ${cook.id}}"
						th:text="${cook.name} +' '+ ${cook.surname}">Nome Cuoco</a>	
					</li>
				</ul>
				
		</section>
		
	</body>
</html>
