<!DOCTYPE hmtl>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title> Cuoco</title>
	<link rel="stylesheet" href="/css/recipe.css?v=3.3" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,900&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>


<body>
	<section class="header">

		<a href="/"><img src="/images/logo.png"></a>
		<h1>Informazioni Ricetta</h1>
	</section>

	<section class="recipe-info">
		<h1 th:text="${recipe.name}">Nome Ricetta</h1>

		<div class="info">

			<div class="image">
				<img class="recipeImage" 
					th:src="@{/images/__${recipe.urlImage}__}">
			</div>
			<div class="box">
				<div class="element">
					<h2>Informazioni:</h2>
				</div>
				<div class="element"> Questa Ricetta è stata proposta da:
					<span th:if="${recipe.cuoco!=null}">
						<a th:href="@{'/cook' + '/' + ${recipe.cuoco.id} }"
							th:text="${recipe.cook.getName()}+' '+${recipe.cook.getSurname()}"></a>
					</span>
					<span th:unless="${recipe.cuoco!=null}">
						Non disponibile
					</span>
				</div>
				<div class="element"> <i class="fa fa-clock-o"></i> Tempo di Preparazione:
					<span th:if="${recipe.tempo!=null}">
						<span th:text="${recipe.tempo}"></span> minuti
					</span>
					<span th:unless="${recipe.tempo!=null}">
						<br>
						Non disponibile
					</span>
				</div>
				<div class="descrizione">Descrizione:
					<br>
					<span th:text="${recipe.getDescription()}"></span>
				</div>

			</div>
		
	</section>
		<section class="ingredients">
			<h1>Lista degli ingredienti:</h1>

			<div class="noIngredient" th:if="${recipe.getIngredients().isEmpty()}">
				<span class="material-symbols-outlined">Error</span>
				<p>Spiacenti la lista degli Ingredienti è vuota</p>
			</div>
			<ul class="container">
				<li class="boxIngredient" th:each="recipeIngredient : ${recipe.getIngredients()}">
					<img id="ingredientImage" th:src="@{/images/__${recipeIngredient.getIngredient().urlImage}__}"
						alt="Immagine Ingrediente">
					<p th:text="${recipeIngredient.getIngredient().name}">Nome Ingrediente</p>
					<div>Quantità: <span
							th:text="' '+${recipeIngredient.getQuantity()} +' '+${recipeIngredient.getUnit()}"></span>
					</div>
				</li>
			</ul>
	</section>

</body>

</html>