<!DOCTYPE html>
<html>
	
	<head>
		 <meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title> Elenco Ricette</title>
		<link rel="stylesheet" href="/css/admin/manageCooks.css?v=5.2" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
		
	</head>
	
	<body>
		
		<section class="header">
		
			<a href="/"><img src="/images/logo.png"></a>
			<h1> Gestisci Cuochi</h1>
			
		</section>
		
		<section class="cooks">
			
			    <div class="noCook" th:if="${cooks.isEmpty()}">
						<span class="material-symbols-outlined">Error</span>
						<p>Spiacenti nessun Cuoco trovato</p> 
				</div>
				<div class="addCook">
					<a href="/admin/formNewCook">
						<span class="material-symbols-outlined">add_circle</span>Aggiungi un Cuoco</a>
				</div>
			
				<ul class="container">
					<li class="boxCook" th:each="cook : ${cooks}">
						<img id="cookImage" th:src="@{/images/__${cook.urlImage}__}">
						<a class="cook" th:href="@{'/cook' + '/' + ${cook.id}}"
						th:text="${cook.name} +' '+ ${cook.surname}">Nome Cuoco</a>
						<div class="options">
							<a class="update" title="aggiungi Ricetta a Cuoco" th:href="@{'/admin/addRecipeToCook/' +${cook.id} }"><i class="fa fa-plus-circle"></i></a>
							<a class="remove" title="elimina" th:href="@{'/admin/removeCook/' + ${cook.id} }"><i class="fa fa-trash"></i></a>
						</div>
					</li>
				
				</ul>
		</section>
			

	
		
	</body>
	
</html>